<nav class="navbar navbar-dark bg-dark ps-5 mb-5">
  <div class="">
    <%= link_to restaurants_path do %>
      <span class="navbar-brand">All restaurants</span>
    <% end %>
    <%= link_to new_restaurant_path do %>
      <span class="navbar-brand">Create a restaurant</span>
    <% end %>
  </div>
</nav>
